RewriteEngine on
RewriteRule ^(bionapdata|bionapdata/former|bionapdata/Former\sPhD\sand\sPost-Docs|bionapdata/grad|bionapdata/grplead|bionapdata/prjct|bionapdata/undergrad)/_?$ - [F,L]
RewriteRule ^(data|data/archievement|data/extra|data/extra/col|data/extra/vis|data/publications)/_?$ -[F,L]
RewriteRule ^(image/|statics/|data/|bionapdata/)/_?$ - [F,L]
RewriteRule ^(image|image/extra|image/icon|image/index|image/lightbox|image/members|image/research)/_?$ - [F,L]
RewriteRule ^(library)/_?$ - [F,L]
RewriteRule ^(member)/_?$ - [F,L]
RewriteRule ^(static/bootstrap-5.0.2-dist|static/css|static/html|statics/image|static/js)/_?$ - [F,L]
RewriteRule ^(bionapdata|data|fonts|image|library|member|static)/_?$ - [F,L]

ErrorDocument 404 /custom-404.php

