@font-face{
    font-family: "Comic Sans MS";
    src: url("fonts/comic-sans-ms/COMIC.TTF") format("TrueType");
    font-weight: normal;
  }
  @font-face{
    font-family: "Comic Sans MS";
    src: url("fonts/comic-sans-ms/design.graffiti.comicsansmsgras.ttf") format("TrueType");
    font-weight: bold;
  }
body{
    font-family: "Comic Sans MS";
    font-size: 20px;
}

.buttom{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
.buttom:hover {
    background-color: #555;
}