@import "fonts.scss";

.extra {
  .row-img {
    width: 100%;
    .padding-0 {
      width: 100%;
      padding: 0;
      margin: 0;
      img {
        width: 100%;
        height: 200px;
      }
    }
  }
  .main {
    .h2 {
      font-size: xx-large;
    }
    .info {
      h3 {
        font-size: x-large;
        a {
          color: var(--lightlinkColor);
          text-decoration: none;
        }
        a:hover {
          color: var(--lightlinkColor);
          font-weight: bold;
          text-decoration: underline;
        }
      }
      p {
        font-size: large;
      }
      img {
        width: 20px;
      }
    }
  }
}
