@font-face {
  font-family: "Comic Sans MS";
  src: url("./fonts/century/CENTURY.ttf") format("TrueType");
  font-weight: normal;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("./fonts/century/Century\ Bold.ttf") format("TrueType");
  font-weight: bold;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("./fonts/century/ceiswfte.ttf") format("TrueType");
  font-style: italic;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("./fonts/century/Century\ Bold\ Italic.ttf") format("TrueType");
  font-weight: bold;
  font-style: italic;
}
