@font-face {
  font-family: "Comic Sans MS";
  src: url("./fonts/century/CENTURY.ttf") format("TrueType");
  font-weight: normal;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("./fonts/century/Century\ Bold.ttf") format("TrueType");
  font-weight: bold;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("./fonts/century/ceiswfte.ttf") format("TrueType");
  font-style: italic;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("./fonts/century/Century\ Bold\ Italic.ttf") format("TrueType");
  font-weight: bold;
  font-style: italic;
}

html {
  background: var(--lightBg);
  --lightBtn: #fe016c;
  --lightBg: #fff;
  --lightColor: #232323;
  --linkColor: #1111ff;
}
html[data-theme="dark"] {
  background: var(--lightBg);
  --lightBtn: #efbd07;
  --lightBg: #232323;
  --lightColor: #fff;
  --linkColor: #eeee11;
}
