@font-face {
  font-family: "Comic Sans MS";
  src: url("../css/fonts/century/CENTURY.ttf") format("TrueType");
  font-weight: normal;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("../css/fonts/century/Century Bold.ttf") format("TrueType");
  font-weight: bold;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("../css/fonts/century/ceiswfte.ttf") format("TrueType");
  font-style: italic;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("../css/fonts/century/Century Bold Italic.ttf") format("TrueType");
  font-weight: bold;
  font-style: italic;
}

body {
  padding-bottom: 50px !important;
  font-family: "Comic-Sans-MS" !important;
}

@-webkit-keyframes scalezoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes scalezoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/*
.img-fixed {
  height: 50px;
  margin: auto;
  display: block;
}
.p-2 border {
  width: 33%;
  background-color: rgba(0, 0, 255, 0.1);
}*/
/*.container{
    margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;
}
/*<!-- .row.no-gutter {
    margin-left: 0;
    margin-right: 0; 
  }
  .row.no-gutter [class*='col-']:not(:first-child),
  .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
  }
  .row > div {
    background: lightgrey;
    border: 1px solid;
  }*/
.padding-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.h1 {
  font-weight: bold !important;
  color: black;
  text-align: center;
}

.p1 {
  color: black;
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}

body {
  background-color: white;
}

.welcome {
  width: 100%;
  color: white;
  background-color: #0e6c68;
  margin: 0.5em 0.5em 0 0;
  padding: 0.5em 0.5em 1em 0;
}

.welcome .h2 {
  color: white;
  text-align: left;
  font-size: xx-large;
  height: auto;
  font-weight: bold !important;
  margin: 0.5em 0.5em 0.5em 0.5em;
  padding-left: 0em;
}

.welcome .p {
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
  margin: 0 0.5em 0 0.5em;
}

.research {
  width: 100%;
  margin: 1em 0 1em 0;
}

.research .h2 {
  font-weight: bold;
  margin: 0.5em 0 0.5em 0;
}

.research .col-sm {
  margin: 1em 1em 1em 1em;
  padding: 0 0 0 0;
  position: relative;
  overflow: hidden;
}

.research .col-sm a {
  text-decoration: none;
  padding-bottom: 0;
}

.research .col-sm a figure {
  text-decoration: none;
  padding: 0 0 0 0;
}

.research .col-sm a figure .img {
  border: 0.5em solid black;
  overflow: hidden;
}

.research .col-sm a figure .img img {
  width: 100%;
  height: 300px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.research .col-sm a figure .img img:hover,
.research .col-sm a figure .img img:focus {
  background-color: black;
  opacity: 0.5;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.research .col-sm a figure figcaption {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

.research .col-sm a figure figcaption:hover {
  text-decoration: underline;
}

.research .col-sm .write {
  display: none;
  color: white;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.research .col-sm .write a {
  color: black !important;
  text-decoration: none;
}

.research .col-sm .write a:hover {
  text-decoration: underline;
}

.update {
  font-size: large;
}

.update .h2 {
  font-weight: bold;
}

.update ul li {
  list-style-type: none;
}

.ul-group ul {
  color: black;
}

.padding-1 {
  border: 0px solid red;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
}

.fill-0 {
  width: 100%;
  margin-top: 1em;
  overflow: hidden;
}

.fill-0 .image {
  display: block;
}

.fill-0 .image .col-sm img {
  width: 100%;
  height: 300px;
}

.fill-0 .image .image1 {
  margin-right: 0;
  padding-right: 0;
}

.fill-0 .image .image2 {
  margin: 0 0;
  padding: 0 0;
}

.fill-0 .image .image3 {
  margin-left: 0;
  padding-left: 0;
}

.fill-0 .ticker-wrap {
  display: block;
  width: 100%;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 100%;
  margin-top: 1em;
  overflow: hidden;
}

.fill-0 .ticker-wrap .ticker {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-animation-name: ticker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
  -moz-animation-name: ticker;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 10s;
  -o-animation-name: ticker;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -o-animation-duration: 10s;
  animation-name: ticker;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
}

.fill-0 .ticker-wrap .ticker__item {
  display: inline-block;
  color: black;
  font-size: 1em;
  padding: 0 0;
}

.fill-0 .ticker-wrap:hover {
  cursor: pointer;
}

.fill-0 .ticker-wrap:hover .ticker {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/*# sourceMappingURL=index.css.map */