@font-face {
  font-family: "Comic Sans MS";
  src: url("../css/fonts/century/CENTURY.ttf") format("TrueType");
  font-weight: normal;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("../css/fonts/century/Century\ Bold.ttf") format("TrueType");
  font-weight: bold;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("../css/fonts/century/ceiswfte.ttf") format("TrueType");
  font-style: italic;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("../css/fonts/century/Century\ Bold\ Italic.ttf") format("TrueType");
  font-weight: bold;
  font-style: italic;
}
body {
  padding-bottom: 50px !important;
  font-family: "Comic-Sans-MS";
}
/*
.img-fixed {
  height: 50px;
  margin: auto;
  display: block;
}
.p-2 border {
  width: 33%;
  background-color: rgba(0, 0, 255, 0.1);
}*/
/*.container{
    margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;
}
/*<!-- .row.no-gutter {
    margin-left: 0;
    margin-right: 0; 
  }
  .row.no-gutter [class*='col-']:not(:first-child),
  .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
  }
  .row > div {
    background: lightgrey;
    border: 1px solid;
  }*/

.padding-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.h1 {
  font-weight: bold !important;
  color: blue;
  text-align: center;
}

.p1 {
  color: black;
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}
body {
  background-color: white;
}

.welcome {
  width: 100%;
  color: white;
  background-color: rgb(14, 108, 104);
  margin: 0.5em 0.5em 0 0;
  padding: 0.5em 0.5em 1em 0;
  .h2 {
    text-align: left;
    font-size: xx-large;
    height: auto;
    font-weight: bold !important;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding-left: 0em;
  }
  .p {
    font-size: x-large;
    text-align: justify;
    text-justify: inter-word;
    margin: 0 0.5em 0 0.5em;
  }
}
.research {
  width: 100%;
  margin: 1em 0 1em 0;
  .h2 {
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
  }
  .col-sm {
    margin: 0 1em 0 1em;
    img {
      width: 100%;
      height: 300px;
      border: 0.5em solid rgb(0, 0, 0);
    }
    p {
      font-size: x-large;
      font-weight: bold;
      text-align: center;
    }
  }
}
.update {
  font-size: large;
  .h2 {
    font-weight: bold;
  }
  ul {
    li {
      list-style-type: none;
    }
  }
}
.ul-group ul {
  color: black;
}

.padding-1 {
  border: 0px solid red;
}

$duration: 10s;
* {
  box-sizing: border-box;
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
}
.fill-0 {
  width: 100%;
  margin-top: 1em;
  overflow: hidden;
  .image {
    display: block;
    .col-sm {
      img {
        width: 100%;
        height: 300px;
      }
    }
    .image1 {
      margin-right: 0;
      padding-right: 0;
    }
  }

  .ticker-wrap {
    display: block;
    width: 100%;
    height: 2em;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 100%;
    margin-top: 1em;
    //bottom: 0;
    //position: fixed;
    overflow: hidden;
    //box-sizing: content-box;

    .ticker {
      display: inline-block;
      height: 2em;
      line-height: 2em;
      white-space: nowrap;
      padding-right: 100%;
      box-sizing: content-box;

      -webkit-animation-name: ticker;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -webkit-animation-duration: $duration;

      -moz-animation-name: ticker;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -moz-animation-duration: $duration;

      -o-animation-name: ticker;
      -o-animation-iteration-count: infinite;
      -o-animation-timing-function: linear;
      -o-animation-duration: $duration;

      animation-name: ticker;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: $duration;

      &__item {
        display: inline-block;
        color: black;
        font-size: 1em;
        padding: 0 0;
      }
    }
  }
  .ticker-wrap:hover {
    cursor: pointer;
    .ticker {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }
  }
}
