@import "fonts.scss";
.h1 {
  font-family: "Comic Sans MS" !important;
  text-align: center;
}
body {
  background-color: white;
}
.fill-0 {
  display: block;
  width: 100%;
  overflow: visible;
  .padding-0 {
    img {
      width: 100%;
      height: 20vh;
      transition: all 0.3s ease-out;
    }
    img:hover {
      transform: scale(1.5);
      cursor: pointer;
    }
  }
}

* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* The Modal (background) */
.modal {
  display: none;
  width: 100%;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  left: 0;
  top: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  .row {
    .slides {
      position: fixed;
      overflow: hidden;
    }
  }
  .view-img {
    color: white;
    background-color: white;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;

    .close:hover,
    .close:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer;
    }
    .slides {
      display: none;
      background-color: black;
    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      width: 100%;
      max-width: 1200px;
    }

    figure {
      img {
        width: 100%;
        max-width: 1900px;
        color: white;
        background-color: white;
        display: block;
        margin: auto;

        object-fit: cover;
      }
      figcaption {
        display: none;
        background-color: white;
      }
    }
  }
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 30%;
    font-size: xx-large;
    font-weight: bold;
    z-index: +1;
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .scroll {
    position: relative;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll !important;
    .image-small-show {
      img {
        width: 100%;
        height: 20vh;
        opacity: 0.5;
      }
    }
    .image-small-show:hover,
    .image-small-show:focus,
    .image-small-show:active {
      img {
        opacity: 1;
      }
    }
    .active {
      border: 1px solid black;
    }
  }
}
