@import "fonts.scss";

@mixin value($position) {
  text-align: $position;
  margin: 10px;
  padding: 10px;
}
.member {
  display: block;
  width: 100%;
  //max-width: 1300px;
  overflow-x: hidden;
  .bg-img {
    //display: block;
    text-align: center;
    height: 500px;
    background-image: url("../image/0.png");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;
    //border: 1px solid red;
    position: relative;
    overflow: hidden;
    .pf-img {
      display: block;
      width: 200px;
      height: 200px;
      margin: 0 auto;
      margin-left: -100px;
      bottom: 0px;
      left: 50%;
      position: absolute;
      overflow: visible;
      //background-color: red;
      img {
        display: block;
        text-align: center;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
  }
  .info {
    padding-top: 50px;
    .name {
      text-align: center;
      font-size: xx-large;
      position: relative;
      span {
        font-weight: bold;
      }
    }
    .email {
      color: var(--lightColor);
      .base {
        @media (orientation: landscape) {
          @include value(right);
        }
        @media (orientation: portrait) {
          @include value(center);
        }
      }
      .value {
        @media (orientation: landscape) {
          @include value(left);
        }
        @media (orientation: portrait) {
          @include value(center);
        }

        a {
          color: var(--lightemailColor);
          font-weight: normal;
          text-decoration: none;
        }
        a:hover {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
    .position {
      .base {
        @media (orientation: landscape) {
          @include value(right);
        }
        @media (orientation: portrait) {
          @include value(center);
        }
      }
      .value {
        @media (orientation: landscape) {
          @include value(left);
        }
        @media (orientation: portrait) {
          @include value(center);
        }
        font-weight: bold;
      }
    }
    .webpage {
      .base {
        @media (orientation: landscape) {
          @include value(right);
        }
        @media (orientation: portrait) {
          @include value(center);
        }
      }
      .value {
        @media (orientation: landscape) {
          @include value(left);
        }
        @media (orientation: portrait) {
          @include value(center);
        }
        a {
          color: var(--lightlinkColor);
          font-weight: normal;
          text-decoration: none;
        }
        a:hover {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
    .fill {
      width: 50%;
      text-align: justify;
      font-size: large;
      margin: auto;
      position: relative;
      text-justify: auto;
      a {
        color: var(--lightColor);
        text-decoration: none;
        font-weight: bold;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
