.main {
  font-family: "Comic Sans MS";
  margin-left: 0px; /* Same as the width of the sidenav */
  font-size: xx-large; /* Increased text to enable scrolling */
  padding: 0px 0px;
  h2 {
    font-size: xx-large;
    margin-top: 1em;
  }
  .col-sm {
    margin: auto;
  }
  .pf-img {
    height: 250px;
    margin-top: 2em;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  }
  .info {
    .name {
      font-size: x-large;
      a {
        color: black;
        text-decoration: none;
      }
      a:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .email {
      font-size: large;
      a {
        text-decoration: none;
      }
      a:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
  hr {
    width: 100%;
    color: black !important;
    background-color: black !important;
    height: 1px;
    margin: 0 0;
    margin-top: 1em;
    border: 1px solid black;
    border-width: 0;
  }
}
