@font-face {
  font-family: "Century";
  src: url("./fonts/century/CENTURY.ttf") format("TrueType");
  font-weight: normal;
}

@font-face {
  font-family: "Century";
  src: url("./fonts/century/Century Bold.ttf") format("TrueType");
  font-weight: bold;
}

@font-face {
  font-family: "Century";
  src: url("./fonts/century/ceiswfte.ttf") format("TrueType");
  font-style: italic;
}

@font-face {
  font-family: "Century";
  src: url("./fonts/century/Century Bold Italic.ttf") format("TrueType");
  font-weight: bold;
  font-style: italic;
}

html {
  background: var(--lightBg);
  --lightBtn: #fe016c;
  --lightBg: #fff;
  --lightColor: #232323;
  --lightlinkColor: #1111ff;
  --lightwelColor: #eee;
  --lightwelBg: rgb(14, 108, 104);
  --lighttikcerColor: black;
  --lightemailColor: #4d00dd;
}

html[data-theme="dark"] {
  background: var(--lightBg);
  --lightBtn: #efbd07;
  --lightBg: #232323;
  --lightColor: #fff;
  --lightlinkColor: #eeee11;
  --lightwelColor: #111;
  --lightwelBg: rgb(241, 147, 151);
  --lighttickerColor: rgba(rgb(65, 73, 78), 0.3);
  --lightemailColor: #00f7ff;
}

body {
  color: var(--lightColor);
  background-color: var(--lightBg);
  font-family: "Century" !important;
  padding-bottom: 30px !important;
}

.member {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.member .bg-img {
  text-align: center;
  height: 500px;
  background-image: url("../image/0.png");
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  position: relative;
  overflow: hidden;
}

.member .bg-img .pf-img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-left: -100px;
  bottom: 0px;
  left: 50%;
  position: absolute;
  overflow: visible;
}

.member .bg-img .pf-img img {
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.member .info {
  padding-top: 50px;
}

.member .info .name {
  text-align: center;
  font-size: xx-large;
  position: relative;
}

.member .info .name span {
  font-weight: bold;
}

.member .info .email {
  color: var(--lightColor);
}

@media (orientation: landscape) {
  .member .info .email .base {
    text-align: right;
    margin: 10px;
    padding: 10px;
  }
}

@media (orientation: portrait) {
  .member .info .email .base {
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
}

@media (orientation: landscape) {
  .member .info .email .value {
    text-align: left;
    margin: 10px;
    padding: 10px;
  }
}

@media (orientation: portrait) {
  .member .info .email .value {
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
}

.member .info .email .value a {
  color: var(--lightemailColor);
  text-decoration: none;
  font-weight: normal;
  font-style: italic;
}

.member .info .email .value a:hover {
  text-decoration: underline;
}

@media (orientation: landscape) {
  .member .info .position .base {
    text-align: right;
    margin: 10px;
    padding: 10px;
  }
}

@media (orientation: portrait) {
  .member .info .position .base {
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
}

.member .info .position .value {
  font-weight: bold;
}

@media (orientation: landscape) {
  .member .info .position .value {
    text-align: left;
    margin: 10px;
    padding: 10px;
  }
}

@media (orientation: portrait) {
  .member .info .position .value {
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
}

@media (orientation: landscape) {
  .member .info .webpage .base {
    text-align: right;
    margin: 10px;
    padding: 10px;
  }
}

@media (orientation: portrait) {
  .member .info .webpage .base {
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
}

@media (orientation: landscape) {
  .member .info .webpage .value {
    text-align: left;
    margin: 10px;
    padding: 10px;
  }
}

@media (orientation: portrait) {
  .member .info .webpage .value {
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
}

.member .info .webpage .value a {
  color: var(--lightlinkColor);
  text-decoration: none;
  font-weight: normal;
  font-style: italic;
}

.member .info .webpage .value a:hover {
  text-decoration: underline;
}

.member .info .fill {
  width: 50%;
  text-align: justify;
  font-size: large;
  margin: auto;
  position: relative;
  text-justify: auto;
}

@media (orientation: portrait) {
  .member .info .fill {
    width: 100%;
  }
}

.member .info .fill a {
  color: var(--lightColor);
  text-decoration: none;
  font-weight: bold;
}

.member .info .fill a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=member.css.map */