@import "fonts.scss";

body {
  font-family: "Comic Sans MS";
}
.fill-0 {
  .h1 {
    text-align: center;
  }
  .h2 {
    text-align: left;
  }
  .title {
    a {
      color: black;
      font-weight: bolder;
      text-decoration: none;
      cursor: pointer;
    }
    a:hover {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
}
