@import "fonts.scss";

.img-zoom-container {
  position: relative;
  img {
    width: 100%;
    border: 1px solid black;
  }
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid black;
  width: 10%;
  height: 10vh;
}
.img-zoom-result {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
}
